<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.messenger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logoimage"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoimage_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".checkpas"
            android:exported="false" />
        <activity
            android:name=".ProfileSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_profile_settings"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".touchactivity"
            android:exported="false" />
        <activity
            android:name=".pin_activity"
            android:exported="false" />
        <activity
            android:name=".phonereg"
            android:exported="false" />
        <activity
            android:name=".resend_activity"
            android:exported="false" />

        <meta-data
            android:name="delivery_metrics_exported_to_big_query_enabled"
            android:value="true" />

        <activity
            android:name=".watchfullvideo"
            android:exported="false" />
        <activity
            android:name=".preview_send_image"
            android:exported="false" />
        <activity
            android:name=".on_boarding_activity"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".OutgoingInvitationActivity"
            android:exported="true" />
        <activity
            android:name=".IncomingInvitationActivity"
            android:exported="true" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".UsersActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".registration"
            android:exported="false" />
        <activity
            android:name=".splashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".firebase.MessagingService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>